header {
    background-color: slategrey;
    text-align: center;

    padding: 3em;
}

.navbar {
    background-color: slategrey; 
    text-align: center;
}

body {
    text-align: center;
}

.myprojects {
    display: flex;
    height: auto;
}

.finished {
    background-color: greenyellow;
    max-height: fit-content;
    max-width: fit-content;
    margin: 0 auto;
}

.inprogress {
    background-color: yellow;
    max-height: fit-content;
    max-width: fit-content;
    margin: 0 auto;
}

.projects {
   
}